:root {
    --background-color: #0554F2;
    --header-color: #F2F2F2;
    --border-color: #F2F2F2;
    --border-color: #F2F2F2;
    --input-bg-color: #f2f2f2;
    --text-color: #010326;
    --btn-color: #1564aa;

    --fonte-padrao: normal 1em Arial, Helvetica, sans-serif;
    --fonte-titulo: normal 1.3em Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font: var(--fonte-padrao);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    color: var(--header-color);
    font: var(--fonte-titulo);
    text-align: center;
}

input.solicitacao {
    width: 175px;
    height: 30px;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

input.solicitacao:focus {
    outline: none;
    border-color: var(--border-destaque-color-color);
    box-shadow: 0 0 5px var(--border-destaque-color);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900vw;
    padding: 20px;

    background: rgba(242, 242, 242, 0.363);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#container, #solicitacao_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 6px;
}

#btnResultado {
    margin-top: 10px;
    background-color: var(--btn-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

p {
    margin: 0;
    padding: 0;
}

#btnResultado:hover {
    background-color: var(--btn-color);
    box-shadow: 0 6px 8px hsla(237, 95%, 8%, 0.205);
    transform: scale(1.05);
}

div>.res {
    width: 92%;
    background-color: var(--input-bg-color);
    margin: 5px;
    padding: 8px 5px;
    border: 1px solid (var(--border-color));
    border-radius: 5px;
    text-align: justify;
}

div.res:hover {
    background-color: #d3d2d0;
    cursor: pointer;
}

#divSoma,
#divSubtracao,
#divMultiplicacao,
#divDivisao,
#divResto,
#divPotencia, #container {
    display: none;
}

footer {
    margin-top: auto;
    padding: 20px;
    color: #F2F2F2;
    font-style: italic;

}